@model ReiRexhajEpSolution.Domain.Models.Poll

<h2>Create Poll</h2>
<form asp-action="Create" method="post">
    <div>
        <label>Title:</label>
        <input asp-for="Title" />
    </div>
    <div>
        <label>Option 1:</label>
        <input asp-for="Option1Text" />
    </div>
    <div>
        <label>Option 2:</label>
        <input asp-for="Option2Text" />
    </div>
    <div>
        <label>Option 3:</label>
        <input asp-for="Option3Text" />
    </div>
    <button type="submit">Create</button>
</form>
