@model IEnumerable<ReiRexhajEpSolution.Domain.Models.Poll>

<h2>All Polls</h2>
<table>
    <tr>
        <th>Title</th>
        <th>Date Created</th>
        <th>Actions</th>
    </tr>
    @foreach (var poll in Model)
    {
        <tr>
            <td>@poll.Title</td>
            <td>@poll.DateCreated</td>
            <td>
                <a href="@Url.Action("Details", "Poll", new { id = poll.Id })">View Details</a>
            </td>
        </tr>
    }
</table>
<a href="@Url.Action("Create", "Poll")">Create New Poll</a>
